* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Hind", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
}

.color-unset {
  color: unset;
}

.app {
}

/* Header */
.header {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}

.header__navbar {
  line-height: 2;
}

.header__icon {
  font-size: 45px;
  color: #fff;
  margin-right: 2px;
}

.header__title {
  font-size: 36px;
  color: #fff;
}

header ul li {
  margin: 0 10px;
}

header ul li.my-active a {
  color: #35a22c !important;
  transition: all 0.5s;
}

header ul li::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: #35a22c;
  transition: all 0.5s;
}

header ul li.my-active::after {
  width: 100%;
}

header ul li:hover::after {
  width: 100%;
}

header ul li:hover a {
  color: #35a22c !important;
}

.navbar-nav .navbar__item .navbar__item-link {
  color: #fff;
  transition: all 0.5s;
}

li.nav-item.my-nav__item {
  min-width: 130px;
  text-align: center;
}

/* Carousel */
.carousel__list {
  margin-bottom: 100px;
}

.carousel .carousel__list-item {
  height: 13px;
  width: 13px;
  border-radius: 50%;
}

li.carousel__list-item.active {
  background-color: #35a22c;
}

.carousel-item {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.carousel-item:nth-child(1) {
  background-image: url(../img/cover_optimized.jpg);
}

.carousel-item:nth-child(2) {
  background-image: url(../img/mountains.jpg);
}

.carousel-item:nth-child(3) {
  background-image: url(../img/mountains-1.jpg);
}

.carousel__overlay {
  background: rgba(39, 43, 54, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.carousel__title {
  font-size: 56px;
  line-height: 65px;
}

.carousel__text {
  font-size: 24px;
}

.img_thumb {
  width: 150px;
  margin: 0 auto;
}

.img_thumb img {
  border-radius: 50%;
  width: 140px;
  border-radius: 50%;
  height: 140px;
  object-fit: cover;
}

.carousel-caption {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#project {
}

.project {
}

.title {
  width: 750px;
  padding-bottom: unset !important;
}

.title__heading {
  font-size: 36px;
  line-height: 42px;
  color: #1a1d2d;
  font-weight: 600;
}

.title__text {
  color: #585858;
}

.project__item {
  margin-top: 30px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 0.4rem rgb(0 0 0 / 13%);
  border-radius: 16px;
  min-height: 270px;
  width: 100%;
}

.project__img {
  border-radius: 16px;
  object-fit: contain;
  transform: scale(1);
  height: 46%;
  transition: transform .2s linear;
}

.project__img:hover {
  transform: scale(.99);
  object-fit: contain;
}

.project__cart {
  border-radius: 0 0 16px 16px;
  border: 1px solid transparent;
  transition: all 0.5s;
  border-top: unset;
}

.project__item:hover .project__cart {
  border: 1px solid #35a22c;
  border-radius: 0 0 16px 16px;
  border-top: unset;
  text-decoration: none;
}

.card-title {
  margin-bottom: 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #1A1D2D;
}

.card-text {
  color: #585858;
}

.project__item:hover h5 {
  color: #35a22c;
}

.my-nav__item .my-nav__link.active {
  background-color: #35a22c;
  border-color: #35a22c;
}

.my-nav .my-nav__item .my-nav__link {
  margin: 0 5px;
}

.my-nav__link {
  border: 1px solid #1a1d2d;
  color: #1a1d2d;
}

.my-nav__link:hover {
  color: unset;
}

.services {
  background: url(../img/dsc09865_optimized.jpg) center / cover no-repeat;
  padding: 100px 0 120px;
  background-attachment: fixed;
  position: relative;
  background-position: center right;
}

.services__overlay {
  background: rgba(7, 10, 12, 0.72);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.services__heading {
  position: relative;
}

.services__item {
  padding: 40px 40px;
  transition: 0.3s;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  transition: all 0.5s;
  text-align: center;
  min-height: 430px;
}

.services__item:hover {
  background-color: #000;
  border-color: #fff;
}

.services__item-icon {
  font-size: 48px;
  color: #35a22c;
}

.services__item-heading {
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
  padding-top: 25px;
}

.services__item-text {
  padding-top: 15px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

/* award */

.award {
  padding: 70px 0;
  position: relative;
}

.award__bg {
  position: absolute;
  background: url(../img/memphis_3.png) bottom left no-repeat;
  background-size: 50%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.5;
}

.award__content {
}

.award__item {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
  padding: 45px;
  height: 100%;
}

.award__item-heading {
  font-size: 36px;
  color: #1a1d2d;
  margin-bottom: 8px;
  font-weight: 800;
}

.award__item-desc {
  color: #585858;
  line-height: 24px;
}

.award__item-right {
  padding: 45px 0;
}

.award__item-text {
  line-height: 24px;
  color: #585858;
  text-align: left;
  font-size: 16px;
  margin-bottom: 16px;
}

.award__item-imgs {
}

.award__item-img {
  height: 87px;
  object-fit: contain;
  width: auto;
}

.footer {
  background-color: #222222;
}

.footer__content {
}

.footer__top {
  padding-bottom: 29px;
  border-bottom: 1px solid #454545;
}

.footer__top-link {
  color: #aaa;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border: 1px solid #454545;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
  line-height: 42px;
  transition: all 0.5s;
}

.footer__top-link:hover {
  color: #35a22c;
  border: 1px solid #35a22c;
}

.footer__top-icon {
}

.footer__bottom-copyright {
  color: #aaa;
  margin-top: 32px;
  margin-bottom: unset;
}
.footer__bottom-link {
  color: #aaa;
  text-decoration: none;
}

.footer__bottom-link:hover {
  color: #35a22c;
  text-decoration: none;
}
